<!DOCTYPE html>
<html lang="en">
<head>
    <title>Your Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="text-container">
        <h1>Your Dashboard</h1>

        <p>An example of our score keeping would be this table:</p>
        <table border="1">
            <tr>
                <th>Date</th>
                <th>Course Name</th>
                <th>Score</th>
            </tr>
            <tr>
                <td>2023-09-01</td>
                <td>South Hampton GC</td>
                <td>95</td>
            </tr>
            <tr>
                <td>2023-09-05</td>
                <td>Stillwater GC</td>
                <td>88</td>
            </tr>
            <tr>
                <td>2023-09-10</td>
                <td>St Johns CC</td>
                <td>75</td>
            </tr>
            <tr>
                <td>2023-09-15</td>
                <td>Eagle Harbor CC</td>
                <td>92</td>
            </tr>
        </table>

        <h2>Our Sponsors</h2>

        <div class="thumbnail-links">
            <a href="https://www.callawaygolf.com/" target="_blank">
                <img src="{{ url_for('static', filename='images/callaway.jpg') }}" alt="Example 1">
            </a>
            <a href="https://www.worldwidegolfshops.com/edwin-watts-golf-shops" target="_blank">
                <img src="{{ url_for('static', filename='images/edwin.jpg') }}" alt="Example 2">
            </a>
            <a href="https://www.stillwatergcc.com/" target="_blank">
                <img src="{{ url_for('static', filename='images/Stillwater.jpg') }}" alt="Example 3">
            </a>
        </div>
        <ul>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
             <li class="separator">|</li>
            <li><a href="{{ url_for('reset') }}">Reset Password</a></li>
        </ul>

    </div>

    <footer>
        <p>Background photo by [TPC Photographer] on [TPC.com]</p>
    </footer>
</body>
</html>
