body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('/static/images/tpc_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
}

h1, h2, h3 {
    color: #333;
}

a {
    text-decoration: none;
    color: #007BFF;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline; /* Display the list items inline */
    margin-right: 20px; /* Add some space between the links */
}

.separator {
    color: #333; /* Color of the vertical line */
}

.text-container {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    text-align: center;

}

.text-container table {
    margin: 0 auto;
}

.text-container .thumbnail-links {
    display: flex;
    justify-content: center;
}

footer {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.error-message {
    color: #ff0000; /* Red color for error messages */
    font-size: 14px; /* Adjust the font size as needed */
    margin-top: 5px; /* Add some spacing above the error message */
}

.thumbnail-links {
    display: flex; /* To align thumbnails in a row */

}

.thumbnail-links a {
    text-align: center; /* To center-align the content inside the links */
}

.thumbnail-links img {
    width: 100px; /* Adjust the width to your desired size */
    height: 75px; /* Adjust the height to your desired size */
    margin: 10px; /* Optional margin for spacing between thumbnails */
}
